// CSS RESET

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

// VARIABLES
// ## Colors

// ### Primary

@orange-500: hsl(26, 100%, 55%);
@orange-100: hsl(25, 100%, 94%);
@orange-300: #ffab6a;

// ### Neutral

@blue-900: hsl(220, 13%, 13%);
@grayish-blue-500: hsl(219, 9%, 45%);
@grayish-blue-300: hsl(220, 14%, 75%);
@grayish-blue-100: hsl(223, 64%, 98%);
@white: hsl(0, 0%, 100%);
@black: hsl(0, 0%, 0%); //(with 75% opacity for lightbox background)

// ## Typography

@fs-regular: 1rem;

@fw-regular: 400;
@fw-bold: 700;

// MIXINS
.flex(@align, @justify, @direction) {
	display: flex;
	align-items: @align;
	justify-content: @justify;
	flex-direction: @direction;
}

// GENERAL STYLES
body {
	font-family: "Kumbh Sans", serif;
	width: 100vw;
	overflow-x: hidden;
	display: grid;
	place-content: center;
	@media (min-width: 60rem) {
		height: 100vh;
	}
}

main {
	position: relative;
	max-width: 69.375rem;
}

.btn {
	background-color: @orange-500;
	border: none;
	border-radius: 0.625rem;
	text-align: center;
	padding: 1.125rem;
	font-weight: @fw-bold;
	box-shadow: 0px 11px 25px -2px @orange-100;
	cursor: pointer;
	&:hover {
		background-color: @orange-300;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

// OVERLAY STYLES

.overlay {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.685);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

// NAV STYLES

.nav {
	.flex(center, space-between, row);
	margin: 1.188rem 1.5rem;
	@media (min-width: 60rem) {
		position: sticky;
		top: 0;
		overflow: hidden;
		margin: 0;
	}
	&__left {
		.flex(center, center, row);
		gap: 1rem;
		&-navIcon {
			@media (min-width: 60rem) {
				display: none;
			}
		}
		.logo {
			cursor: pointer;
		}
		.menu__list {
			.flex(flex-start, flex-start, column);
			gap: 3.25rem;
			height: 100%;
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			background-color: @white;
			overflow-x: hidden;
			padding: 2rem 1rem;
			display: none;
			@media (min-width: 60rem) {
				display: flex;
				background-color: transparent;
				position: static;
			}
			.menu {
				.flex(flex-start, flex-start, column);
				gap: 1.25rem;
				list-style: none;
				font-weight: @fw-bold;
				font-size: 1.125rem;
				padding: 0 1rem;
				@media (min-width: 60rem) {
					.flex(flex-start, center, row);
				}
				a {
					text-decoration: none;
					color: @blue-900;
					cursor: pointer;

					&:hover {
						text-decoration: underline;
						text-decoration-color: @orange-500;
						text-underline-offset: 2.2rem;
						text-decoration-thickness: 5px;
						z-index: 10;
					}
				}
			}
			&__close {
				border: none;
				background-color: transparent;
				margin-left: 0.5rem;
			}
		}
	}
	&__right {
		position: relative;
		.flex(center, center, row);
		gap: 1.375rem;
		.icon-cart {
			cursor: pointer;
		}
		&__avatar {
			width: 1.5rem;
			height: 1.5rem;
			cursor: pointer;
			&:hover {
				border: 2px solid @orange-500;
				border-radius: 50%;
			}
		}
		.quantity-in-cart {
			position: absolute;
			width: 1.188rem;
			height: 1.188rem;
			font-size: 0.625rem;
			font-weight: @fw-bold;
			color: @white;
			background-color: @orange-500;
			border-radius: 50%;
			.flex(center, center, row);
			top: -0.3rem;
			left: 0.7rem;
			display: none;
		}
	}
}

.delimiter {
	display: none;
	@media (min-width: 60rem) {
		position: sticky;
		top: 0;
		overflow: hidden;
		display: block;
		margin-bottom: 2rem;
	}
}

// CAROUSEL STYLES
.carousel {
	@media (min-width: 60rem) {
		display: none;
	}
	&-view {
		position: relative;
		&__btn {
			position: absolute;
			width: 2.5rem;
			height: 2.5rem;
			background-color: @white;
			border: none;
			border-radius: 50%;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			&__arrow {
				position: absolute;
				left: 50%;
				width: 0.7rem;
				height: 0.7rem;
				border-left: 4px solid;
				border-top: 4px solid;
			}

			&--prev {
				left: 1rem;
				.carousel-view__btn__arrow {
					transform: rotate(320deg) translateY(-60%);
				}
			}

			&--next {
				right: 1rem;
				.carousel-view__btn__arrow {
					transform: rotate(135deg) translateY(80%);
				}
			}
		}
		.product-img-list {
			list-style: none;
			padding: 0;
			.flex(center, center, row);
			.list-item {
				display: none;
				.product-img {
					display: none;
				}
				&.current {
					display: block;
					.product-img {
						display: block;
						width: 23.438rem;
						max-width: 27.813rem;
						height: 18.75rem;
					}
				}
			}
		}
	}
}

// MAIN STYLES
.main-content {
	display: grid;
	padding: 1.5rem;
	gap: 1rem;
	@media (min-width: 60rem) {
		width: 50%;
		gap: 0;
	}
	.company-name {
		text-transform: uppercase;
		font-weight: @fw-bold;
		font-size: clamp(0.75rem, 1.44vw, 0.813rem);
		letter-spacing: 1.85px;
		color: @grayish-blue-500;
		@media (min-width: 60rem) {
			margin-bottom: 1.5rem;
		}
	}
	.product-name {
		color: @blue-900;
		font-weight: @fw-bold;
		font-size: clamp(1.75rem, 4.88vw, 2.75rem);
		line-height: 1.14;
		@media (min-width: 60rem) {
			margin-bottom: 2rem;
		}
	}
	.description {
		color: @grayish-blue-500;
		font-size: clamp(0.938rem, 1.77vw, 1rem);
		line-height: 1.67;
		@media (min-width: 60rem) {
			margin-bottom: 1.5rem;
		}
	}
	.price {
		.flex(center, space-between, row);
		@media (min-width: 60rem) {
			.flex(flex-start, flex-start, column);
			margin-bottom: 2rem;
		}
		&__current {
			.flex(center, center, row);
			gap: 1rem;
			&__after-discount {
				color: @blue-900;
				font-size: 1.75rem;
				font-weight: @fw-bold;
			}
			&__discount {
				background-color: @blue-900;
				color: @grayish-blue-100;
				font-weight: @fw-bold;
				padding: 0.188rem 0.563rem;
				border-radius: 0.375rem;
			}
		}

		&__before-discount {
			text-decoration: line-through;
		}
	}

	form {
		.flex(center, center, column);
		gap: 1rem;
		@media (min-width: 60rem) {
			flex-direction: row;
		}
		.quantity {
			position: relative;
			width: 100%;
			&__btn {
				position: absolute;
				border: none;
				background-color: transparent;
				top: 0.65rem;
				font-size: 1.5rem;
				font-weight: bold;
				color: @orange-500;
				cursor: pointer;
				&--plus {
					right: 1rem;
				}
				&--minus {
					left: 1rem;
				}
			}
			&__num {
				width: 100%;
				text-align: center;
				padding: 1.25rem 1.5rem;
				border: none;
				background-color: @grayish-blue-100;
				font-weight: @fw-bold;
			}
		}

		.btn {
			.flex(center, center, row);
			width: 100%;
			gap: 1rem;
			svg {
				path {
					fill: @blue-900;
				}
			}
		}
	}
}

// CART STYLES
.cart {
	display: none;
	position: absolute;
	width: 22.5rem;
	height: 16rem;
	border-radius: 0.625rem;
	background-color: @white;
	top: 3.5rem;
	left: 0.438rem;
	z-index: 10;
	padding: 1rem;
	@media (min-width: 60rem) {
		right: 2rem;
		left: auto;
		box-shadow: 0px 11px 25px -2px @grayish-blue-300;
	}
	&__header {
		font-weight: @fw-bold;
		color: @blue-900;
		margin-bottom: 1.688rem;
	}
	&__empty {
		.flex(center, center, column);
		text-align: center;
		height: 12rem;
		display: none;
	}
	&__full {
		display: grid;
		place-content: center;
		height: 12rem;
		&__prod {
			.flex(center, center, row);
			gap: 1rem;
			margin-bottom: 1rem;
			&-img {
				width: 3.125rem;
				height: 3.125rem;
				overflow: hidden;
				img {
					border-radius: 0.25rem;
				}
			}
			&-text {
				line-height: 1.62;
				color: @grayish-blue-500;
				margin-top: -0.75rem;
			}
			&-total {
				font-weight: @fw-bold;
				color: @blue-900;
			}
			&-delete {
				margin-top: -0.75rem;
				margin-left: -5rem;
			}
		}
	}
}
// PRODUCT IMAGES STYLES
.prod-images {
	display: none;
	gap: 2rem;
	margin-right: 6rem;
	@media (min-width: 60rem) {
		.flex(flex-start, center, column);
		float: left;
	}
	&__active {
		width: 27.813rem;
		height: 27.813rem;
		img {
			border-radius: 0.938rem;
		}
	}
	&__thumnails {
		.flex(center, center, row);
		gap: 2rem;
		list-style: none;
		padding: 0;
		&-img {
			width: 5.5rem;
			height: 5.5rem;
			cursor: pointer;
			img {
				border-radius: 0.625rem;
			}
			&.active {
				border: 3px solid @orange-500;
				border-radius: 0.8rem;
			}
			&.active > img,
			&:hover > img {
				opacity: 0.5;
			}
		}
	}
}
